@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-in-from-left {
  animation: slide-in-from-left 0.3s ease-out;
}

.animate-slide-out-to-left {
  animation: slide-out-to-left 0.3s ease-out;
}
